html,
body {
  height: 500px;
  width: 400px;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.rezak-app {
  margin: 20px;
  background-color: rgb(37, 37, 37);
  color: #fff;
  .title {
    color: rgb(97, 158, 167);
  }
}