.rezak-app {
    .color-picker {
        .hue-picker {
            width: 100%!important;
        }
        .demo {
            outline: none;
            user-select: none;
            font-size: 10px;
        }
    }
}