.rezak-app {
    .weight-picker {
        .slider {
            width: 100%!important;
        }
        .demo {
            height: 70px;
        }
        .header {
            .percentage-label {
                position: absolute;
                top: 0;
                right: -100px;
            }
        }
    }
}